services:
  unbound:
    image: mvance/unbound:latest
    container_name: unbound
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - unbound:/opt/unbound/etc/unbound/

volumes:
  unbound:
    driver: local